#body {
    background-image: url(cloud-background-1.jpg);
}

#form {
    background-color: white;
    margin-top: 50px;
    padding: 25px;
    width: 500px;
    color: black;
    box-shadow: 3px 5px;
}

li {
    box-shadow: 3px 5px;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
}

#emailError {
    color: red;
}

#btn {
    margin-bottom: 15px;
}

#message {
    color: green;
    padding: 3px;
}

#date {
    padding: 3px;
}

#time {
    padding: 3px;
}

